/* Estilos generales para el sitio, se quitan los padding y los margin por defecto del 
navegador y se selecciona la fuente general del sitio*/
*{
    margin: 0; 
    padding: 0;
    outline:none;
    color: #2c2014;
}
/* Fuente */
@font-face {
    font-family: 'poppings';
    src: url('./fuentes/Poppings-Regular.ttf');
}
/* Imagen de fondo para el sitio */
body{
    background-image: url('/img/cthulhu.jpg');
}

/* Navegación */
nav{
    display: block;
    margin-top: 5px;
    max-width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.8rem;
    
}
.nav ul{
    display: grid;
    gap: 20px;
    width: 10px;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
}

nav a{
    background:#1a2632;
    display: block;
    border-radius: 3px;
    width: 200px;
    height: 12px;
    text-decoration: none;
    padding: 0.8rem;
    color:  #BBBBBB;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    box-shadow: 3px 3px 1px  rgba(150, 150, 150, 0.5);
    
}
nav a:hover{
    background:#233343;
}

/* propiedades para las imagenes */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 6px;
    border-radius: 8px;
}
/*  Imagen principal */
.sarnath{
    max-width: 800px;
}
/*Resumen index*/
.summ{
    display: block;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 5px;
    max-width: 72%;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.15);
}
/* Propiedades para los textos*/
.txt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    width: 85%;
    background-color:rgba(255, 255, 255, 0.2);
}
.txt ul{
    margin:  10px;
    padding: 10px;
}
p{  
    padding: 10px;
    margin: 5px;
    font-size: 1.1rem;
    text-align: justify;    
}
h1, h2 {
    text-align: center;
    margin: 10px;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    padding: 10px;
    font-size: 1.5rem;
}
footer{
    text-align: center;
}
